<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI" 
           path="*.php" 
           verb="GET,HEAD,POST,PUT,DELETE,PATCH,OPTIONS" 
           modules="FastCgiModule" 
           scriptProcessor="D:\Program Files\PHP\v8.2\php-cgi.exe" 
           resourceType="Either" 
           requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
